/* Holds the styles for the Schedule a Course page. May be merged into profile.css file for efficiency later on. */
.catalog {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: fit-content;
    margin: 20px auto auto auto !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.catalog > .course {
    overflow: hidden;
    margin: 2em 1em;
    width: 20vw;
    height: 50vh;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

/* Arrange differently for cell phones */
@media screen and (max-width: 800px) {
    .catalog > .course {
        width: 60vw;
    }
    .catalog > .course > .button-add {
        margin-left: calc(60vw - 2em);
    }
}

.course > * {
    height: inherit;
    width: inherit;
    position: absolute;
    border-radius: inherit;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

.course > .button-add {
    z-index: 2;
    margin-left: calc(20vw - 2em);
    margin-top: calc(50vh - 2em);
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
    transition-duration: 0.25s;
}

.course > .button-add > img {
    width: 2em;
    height: 2em;
    margin: 0.25em 0.25em;
}

.course > .button-add:hover {
    filter: invert(1);
}

.course > .button-add:active {
    transform: scale(1.3);
}

.course > img {
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}

.course > .overlay {
    padding: 5px;
}

.course > .description {
    height: 200%;
    position: relative;
    align-content: end;
    display: flex;
    background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.6) 50%);
    transition-duration: 0.25s;
    flex: 1 1 auto;
}

.course > .description:hover, .course > .description:active {
    transform: translateY(-50%);
}

.course > .description > * {
    padding: 0 5px;
    align-self: flex-end;
    visibility: hidden;
    flex: 1 1 auto;
}

.course > .description:hover > * {
    visibility: visible;
}

.course > .description:first-child {
    margin-top: 50%;
}