/* Vertical profile cards */
.card-v {
    background-color: #ededed;
    height: fit-content;
    min-width: min-content;
    width: 35%;
    padding: 5px 30px 40px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10vh 2% auto 2%;
    box-shadow: -3px 1px 7px #999;
    border: 2px solid black;
    overflow: visible;
}

.card-v > p {
    margin-top: 0.75em;
    padding-top: 0;
    line-height: 1em;
}

.card-v .icon {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 30vw;
    display: block;
    position: relative;
    top: -5vh;
    margin: 0 auto 0 auto;
}

.small {
    font-size: medium;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: min-content;
    width: 25%;
    height: min-content;
}

.small > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.card-v > p {
    margin-top: 0.25em;
}

.small > .icon {
    top: -3vh;
    max-width: 10vw;
}

.small > p {
    margin-top: 0.25em;
    padding-top: 0;
}

/* Horizontal profile cards */
.card-h {
    background-color: #ddd;
    min-height: 15vh;
    max-height: min-content;
    width: 85%;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 35px auto;
    box-shadow: -3px 1px 7px #999;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    column-gap: 10px;
}

.card-h > * {
    margin: 5px 4px 5px 4px;
    flex: 1 1 auto;
}

.card-h p,
.card-h a {
    line-height: 1.1em;
    flex: 1 1 auto !important;
}

.card-h .name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.card-h .icon {
    align-self: center;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0 0.5em 0 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 15vh;
    min-height: 15vh;
    max-height: 15vh;
    width: 15vh;
    min-width: 15vh;
    max-width: 15vh;
}

/* Columns for profile cards */
.card-col {
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: start;
    justify-content: center;
    align-items: flex-start;
}

.card-col,
.card-col > * {
    flex: 1 1 auto;
}

.flex-center {
    flex: 1 1 auto;
    align-self: center;
    height: 100%;
    justify-content: center;
    align-content: space-around;
}

.david-gradient {
    background: linear-gradient(
        36deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(255, 255, 255, 1) 81%
    );
    width: 100vw;
    height: 50vh;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    content: '';
}
