/* This contains the styles for profile cards */
.card {
    background-color: #999;
    height: fit-content;
    min-width: none;
    max-width: 300px;
    padding: 5px 20px 15px 20px;
    margin: 50px auto 10px auto !important;
    border-radius: 5px;
    position: relative;
    box-shadow: -3px 1px 7px #999;
    overflow: visible;
}

.card .icon {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 200px;
    display: inline-block;
    position: relative;
    left: calc(50% - (200px / 2));
    top: -40px;
}