/* Placeholder fonts, subject to change */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
html,
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    width: 100vw !important;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-attachment: local;
    font-size: calc(15px + 0.390625vw);
}

/* Size font differently for cell phones */
@media screen and (max-width: 800px) {
    html,
    body {
        font-size: 4vw;
    }
}

body {
    position: relative;
    padding: 0 0 50px 0;
}

a {
    color: black;
    font-style: none;
    text-decoration: none;
}
a:visited {
    color: black;
    font-style: none;
    text-decoration: none;
}
a:hover {
    color: #999;
}
a:active {
    font-weight: bold;
}

#content {
    width: calc(100vw - 10px);
    max-width: none !important;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: flex-start;
    padding: 0 0 3em 0;
    margin: 0;
}

#content > :first-child {
    margin-top: 3%;
}

#content > ::not(:first-child) {
    margin: 20px auto;
}

/* Text Utilites */
.text-center {
    text-align: center;
}

/* Development usage only */
.dev-label {
    color: red;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    word-wrap: normal;
    z-index: 99;
    position: absolute;
    font-weight: bolder;
}

/* Layout */
.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-height: fit-content;
    margin: 40px 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}
.section > .subsection {
    position: relative;
    padding: 0;
    margin: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: inherit;
    width: min-content;
    justify-content: center;
    align-content: center;
}

.section:first-of-type {
    margin: 20px;
}

/* Background images */
img.bg-img-30 {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: 0%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

img.bg-img-40 {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    object-position: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

img.bg-img-50 {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: 0vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

/* Contact section */
#contact {
    border: 2px solid black;
    height: fit-content;
    width: calc(80% - 40px);
    padding: 15px;
    margin: 30px 0 0 0;
    justify-content: space-around;
}

#contact > :first-child {
    width: 80%;
    margin: 0 10% 5% 10%;
}

#contact > a {
    justify-content: center;
    width: 20%;
    margin: 5px 5%;
    transition-duration: 0.25s;
}

#contact > a:hover {
    transform: scale(1.2);
}

#contact > a:active {
    transition-duration: 0.15s;
    transform: scale(0.9);
}

#contact > a > img {
    width: 100%;
}

/* Navigation bar */
#navbar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc;
    color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#navbar::before {
    height: 55px;
    content: '';
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 90%;
    border-top: 2.5px solid #ddd;
}

/* Style the links inside the navigation bar */
#navbar a {
    float: left;
    display: block;
    color: #222222;
    text-overflow: visible;
    text-align: justify;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px auto;
    transition-duration: 0.25s;
    transform: scale(1);
}

#navbar a > img {
    display: block;
    position: absolute;
    filter: grayscale(100%);
    height: 40px;
}

#navbar a:not(.icon):hover {
    transform: scale(1.35);
}

#navbar a:not(.icon):active {
    transform: scale(1.15);
    transition-duration: 0.15s;
}

#navbar .icon {
    transition-duration: 0.25s;
    height: 20px;
    display: none;
}

#navbar a.icon:active {
    transform: scale(1.05);
}

#navbar a.active {
    transform: scale(1.25);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 600px) {
    #navbar a:not(.active) {
        display: none;
    }
    #navbar a.icon {
        display: block;
        position: relative;
        float: right;
    }
    /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
    #navbar.responsive a.icon {
        position: relative;
        bottom: 0;
        right: 10px;
        float: right;
    }
    #navbar.responsive a {
        display: block;
        text-align: left;
    }
}

/* Loader CSS, subject to change */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
